# bitrix file and folder to ignore
# Добавить ключ лицензии в игнор
web/bitrix/cache
web/bitrix/managed_cache
web/bitrix/.settings.php
web/bitrix/php_interface/dbconn.php
web/bitrix/stack_cache
web/bitrix/backup
web/bitrix/upload
web/upload
web/sitemap*
web/bitrixsetup.php
web/bitrix/site_checker_*.*

# OS or Editor folders
*.sublime-grunt.cache
*.sublime-project
*.sublime-workspace
._*
.cache
.DS_Store
.project
.settings
.tmproj
Thumbs.db
.CVS
.git
.hg
.idea
.svn

# Folders to ignore
frontend/node_modules
frontend/bower_components
frontend/build
frontend/npm-debug.log

composer.lock
vendor